body{
	margin: 0px;
	background-color: #FFF;
	font-family: Arial;
	font-size: 12px;
	color: #7C4300;
}

a{
	text-decoration: none;
}

#header{
	width: 100%;
	height: 35px;
	background-color: #EB8700;
}

#header div{
	float: right;
}

#loginButton, #logoutButton{
	width: 75px;
	height: 25px;
	background-color: #FFF;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	margin-right: 50px;
	font-weight: bold;
	margin-left: 173px;
	border-left: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
}

#escuelaButton{
	color: #FFF;
	margin-right: 65px;
	line-height: 35px;
	cursor: pointer;
	height: 35px;
	width: 110px;
	text-align: center;
}

#menuEscuelas{
	position: absolute;
	right: 65px;
	background-color: #EB8700;
	width: 110px;
	text-align: center;
	border-left: 1px solid #EB8700;
	border-right: 1px solid #EB8700;
	border-bottom: 1px solid #EB8700;
	display: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#menuEscuelas ul{
	list-style-type: none;
}

#menuEscuelas ul li{
	height: 25px;
	line-height: 25px;
	color: #EFEFEF;
	cursor: pointer;
}

#menuEscuelas ul li:last-child{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#menuEscuelas ul li:hover{
	background-color: #EFEFEF;
	color: #000;
}

#menuEscuelas ul, #menuEscuelas ul li{
	margin: 0px;
	padding: 0px;
}

#logoAnahuac{
	width: 346px;
	height: 65px;
	background: url(/img/logo_anahuac_nombre.png) 0px 0px no-repeat;
	position: absolute;
	left: 50px;
	top: 15px;
}

#wrap{
	min-height: 500px;
	width: 900px;
	margin: auto;
	margin-top: 70px;
}

#footer{
	clear: both;
	width: 100%;
	height: 65px;
	background-color: #7C4300;
	color: #FFF;
	text-align: center;	
}

#footer a{
	color: #FFF;
	text-decoration: none;
	margin-right: 10px;
}

#footer a:hover{
	color: #E40045;
}

#linksFooter{
	height: 25px;
	line-height: 40px;
}

#copyrightFooter{
	height: 25px;
	line-height: 40px;
}

#loginBox{
	width: 250px;
	height: 200px;
	position: absolute;
	top: -225px;
	right: 250px;
}

#loginBox input[type=text]{
	border: 1px solid #EB8700;
	width: 215px;
	height: 30px;
	line-height: 30px;
	padding-left: 7px;
	padding-right: 7px;
}

#loginDatos{
	background-color: #EFEFEF;
	height: 225px;
	border-bottom-left-radius: 10px;
}

#loginDatosUsuario{
	margin-left: 15px;
}

#loginDatosPassword{
	margin-left: 15px;
}

#loginDatosRecordar{
	margin-left: 15px;
}

#loginSend{
	border: 1px solid #EB8700;
	width: 80px;
	height: 28px;
	border-radius: 6px;
	margin-left: 150px;
	font-weight: bold;
}

#menuPrincipal{
	width: 155px;
	/*border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;*/
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #EFEFEF;
	position: absolute;
	left: 0px;
	top: 115px;
}

#menuPrincipal .activo a, #menuPrincipal .submenuPrincipal a:hover{
	color: #E40045;
}

.submenuPrincipal{
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
	font-size: 13px;
	font-weight: bold;
}

.submenuPrincipal a{
	text-decoration: none;
	color: #7C4300;
}